:root {
	--log-bg-color: #e1e1e1;
	--nav-item-hover: #d7d8df;
	--border: #000;
	--link: #000;
	--divider: #000;
}

html, body {
	height: 100%;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.banner {
	box-sizing: border-box;
	padding: 2.5em;
	width: 100%;
	height: 18.75em;
	border: .2em solid var(--border);
}

.banner__content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.banner__label {
	position: absolute;
	margin: 0;
}

.card {
	box-sizing: border-box;
	max-width: 30%;
	padding: .8em;
	border: .2em solid var(--border);
	margin: .3em 0;
}

.card-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.content {
	display: flex;
	flex-direction: column;
	padding: .625rem 1rem;
}

.footer-social__img {
	width: 2.5em;
	height: 2.5em;
}

.footer__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-nav__link {
	padding-right: .25rem;
	border-right: .2rem solid var(--divider);
}

.footer-nav__link:last-child {
	border-right: none;
}

.footer-social {
	text-align: right;
}

.footer-social__link {
	text-decoration: none;
}

.logo {
	display: flex;
	justify-content: center;
	text-align: center;
}

.logo__img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 6.25em;
	width: 6.25em;
	padding: .625em;
	margin: 0;
	border: .2em solid var(--border);
	border-radius: 50%;
	background: var(--log-bg-color);
}

.nav__list {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	width: 100%;
	border: .2rem solid var(--border);
	margin-top: 1.25rem;
}

.nav-item {
	display: flex;
	align-items: center;
}

.nav-item__label {
	cursor: pointer;
}

.nav-item__link {
	display: block;
	padding: .625rem 1.25rem;
	width: 100%;
	font-size: 1.25rem;
	color: var(--link);
	text-decoration: none;
}

.nav-item__link:hover {
	background: var(--nav-item-hover);
}

.nav-item__img {
	position: relative;
	top: .25em;
	width: 1.55em;
	height: 1.55em;
}

.nav, .nav__list {
	display: flex;
	flex-direction: column;
}

.page {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-width: 12em;
}

.page__content {
	flex: 1 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 77.5em;
}

.page__footer {
	flex-shrink: 0;
	box-sizing: border-box;
	max-width: 77.5em;
	width: 100%;
	padding: 1em;
}

.page__divider {
	border: .08rem solid var(--border);
	background-color: var(--border);
}

.sidebar {
	min-width: 11.25em;
	padding: .625em 1.25em;
}

.subscribing {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 1.25em 0;
}

.subscribing-form {
	display: flex;
}

.subscribing-form__button {
	padding: .0625em 1.5em;
	border: .125em solid var(--border);
	border-radius: .3125em;
	font-size: 1em;
	cursor: pointer;
}

.subscribing-form__input {
	border: .2em solid var(--border);
	margin-right: .3125em;
}

.subscribing__label {
	margin-right: .3125em;
	white-space: nowrap;
}

.symbol-copy {
	font-size: 1em;
}

@media screen and (max-width: 991px) {
	.card {
		max-width: 48%;
	}

	.nav, .nav__list {
		flex-direction: row;
	}

	.nav__list {
		border: none;
		margin-left: 1.85rem;
	}

	.page__content {
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {
	.banner {
		padding: .8em;
	}

	.nav-item {
		border-right: .2rem solid var(--divider);
	}

	.nav-item:last-child {
		border-right: none;
	}

	.nav__list {
		align-items: center;
		justify-content: flex-start;
		margin-bottom: .3125em;
	}

	.nav-item__img {
		display: none;
	}

	.nav-item__link {
		padding: 0 .25rem;
		color: -webkit-link;
		text-decoration: underline;
	}

	.subscribing-form {
		width: 100%;
	}

	.subscribing-form__input {
		flex: 1;
	}
}

@media screen and (max-width: 600px) {
	.card {
		max-width: 100%;
	}

	.card-list {
		align-items: center;
		flex-direction: column;
	}

	.footer__content {
		flex-direction: column;
	}

	.nav {
		align-items: center;
		flex-direction: column-reverse;
	}

	.nav__list {
		justify-content: center;
		margin-left: 0;
	}

	.subscribing {
		align-items: flex-start;
		flex-direction: column;
	}

	.subscribing-form__input {
		margin-right: 0;
	}
}
